.scrollbar {
    overflow: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
   
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:  rgb(25, 168, 37);
  }
  
  /* custom colors  */

  
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: rgb(25, 168, 37);
  }